.active-tab {
    background-color: #f0f8ff;
    border-radius: 8px;

}

.active-tab .fa {
    color: var(--primary); /* Change icon color to blue */
}

.active-tab h6 {
    color: var(--primary); /* Change text color to blue */
}
.hopsss{
    font-weight: bold;
}
